@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Anton&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	@media (min-width: 768px) {
		font-size: 20px;
	}
}

body {
	background-color: #fff;
	font-family: "Lobster", cursive;
}

button {
	font-family: "Lobster", cursive;
}

ul {
	list-style: none;
}

header {
	background: url("https://www.transparenttextures.com/patterns/asfalt-light.png"), linear-gradient(315deg, rgba(32, 28, 28, 0.695203081232493) 100%, rgba(255, 255, 255, 255) 25%);
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 0 2em;
	height: 4.5em;
	color: white;
	text-shadow: 1px 0px 4px black;
	font-size: 0.875em;
	a {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: white;
	}

	@media (max-width: 508px) {
		font-size: 0.75em;
		justify-content: center;
	}
	@media (max-width: 266px) {
		font-size: 0.6em;
		text-align: center;
	}

	.header__logo {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		box-shadow: 3px 3px 3px black;
	}

	p {
		margin-left: auto;
		font-family: "Abril Fatface", cursive;
		@media (max-width: 508px) {
			display: none;
		}
	}
}

main {
	@media (min-width: 768px) {
		margin: 2.5em 4em;
	}
	margin: 2em 2em;

	.inputs {
		gap: 2em;
		@media (max-width: 425px) {
			flex-direction: column;
			gap: 0.51em;
		}
		display: flex;

		input {
			font-family: "Lobster", cursive;
			width: 48%;
			text-align: center;
			height: 2.5rem;
			border: 1px solid #d5d4d8;
			border-radius: 5px;
			&::placeholder {
				text-align: center;
			}
			@media (max-width: 425px) {
				width: 100%;
				&:first-child {
					margin-right: 0;
					margin-bottom: 0.5em;
				}
			}
		}
	}

	button {
		width: 100%;
		margin-bottom: 17px;
		margin-top: 15px;
		cursor: pointer;
		background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
		padding: 15px 0;
		border-radius: 3px;
		text-align: center;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		box-shadow: 0 0 20px #eee;
		display: block;
		border: none;

		&:hover {
			background-position: right center;
			color: #fff;
			text-decoration: none;
		}
	}
	.errorMessage {
		color: red;
		text-align: center;
		margin-bottom: 1em;
	}
	.main--content__image {
		position: relative;
		transition: 0.4s all;
		@keyframes inOut {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.03);
			}
			100% {
				transform: scale(1);
			}
		}
		img,
		.main--content__image {
			height: auto;
		}
		img {
			cursor: pointer;
			width: 100%;
			display: block;
			transition: all 0.5s ease-in-out;
			border-radius: 3px;
			@media (max-width: 700px) {
				&:hover {
					animation: inOut 2s linear 0s infinite;
					// filter: hue-rotate(60deg);
					// filter: grayscale(100%);
					filter: saturate(3);
				}
			}
		}
		.main--content__image--topText,
		.main--content__image--bottomText {
			@media (max-width: 400px) {
				font-size: 1.3em;
			}
			@media (min-width: 768px) {
				font-size: 2.5em;
			}
			white-space: nowrap;
			position: absolute;
			left: 50%;
			font-size: 2em;
			color: white;
			text-shadow: 3px 3px 3px black;
			transform: translate(-50%, 50%);
		}
		.main--content__image--topText {
			top: -0.5em;
		}
		.main--content__image--bottomText {
			bottom: 1em;
		}
	}

	.new--features{
		display: flex;
		flex-direction: column;
		.new--features__selectFont {
			select{
				width: 100%;
				border: 3px solid black;
				margin-top: 1em;
			}
		}
	}

	
}
