@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Anton&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  body,
  html {
    font-size: 20px;
  }
}

body {
  background-color: #fff;
  font-family: "Lobster", cursive;
}

button {
  font-family: "Lobster", cursive;
}

ul {
  list-style: none;
}

header {
  background: url("https://www.transparenttextures.com/patterns/asfalt-light.png"), linear-gradient(315deg, rgba(32, 28, 28, 0.6952030812) 100%, rgb(255, 255, 255) 25%);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 2em;
  height: 4.5em;
  color: white;
  text-shadow: 1px 0px 4px black;
  font-size: 0.875em;
}
header a {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
@media (max-width: 508px) {
  header {
    font-size: 0.75em;
    justify-content: center;
  }
}
@media (max-width: 266px) {
  header {
    font-size: 0.6em;
    text-align: center;
  }
}
header .header__logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px black;
}
header p {
  margin-left: auto;
  font-family: "Abril Fatface", cursive;
}
@media (max-width: 508px) {
  header p {
    display: none;
  }
}

main {
  margin: 2em 2em;
}
@media (min-width: 768px) {
  main {
    margin: 2.5em 4em;
  }
}
main .inputs {
  gap: 2em;
  display: flex;
}
@media (max-width: 425px) {
  main .inputs {
    flex-direction: column;
    gap: 0.51em;
  }
}
main .inputs input {
  font-family: "Lobster", cursive;
  width: 48%;
  text-align: center;
  height: 2.5rem;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
}
main .inputs input::-moz-placeholder {
  text-align: center;
}
main .inputs input::placeholder {
  text-align: center;
}
@media (max-width: 425px) {
  main .inputs input {
    width: 100%;
  }
  main .inputs input:first-child {
    margin-right: 0;
    margin-bottom: 0.5em;
  }
}
main button {
  width: 100%;
  margin-bottom: 17px;
  margin-top: 15px;
  cursor: pointer;
  background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
  padding: 15px 0;
  border-radius: 3px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
  border: none;
}
main button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
main .errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}
main .main--content__image {
  position: relative;
  transition: 0.4s all;
}
@keyframes inOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
main .main--content__image img,
main .main--content__image .main--content__image {
  height: auto;
}
main .main--content__image img {
  cursor: pointer;
  width: 100%;
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 3px;
}
@media (max-width: 700px) {
  main .main--content__image img:hover {
    animation: inOut 2s linear 0s infinite;
    filter: saturate(3);
  }
}
main .main--content__image .main--content__image--topText,
main .main--content__image .main--content__image--bottomText {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px 3px black;
  transform: translate(-50%, 50%);
}
@media (max-width: 400px) {
  main .main--content__image .main--content__image--topText,
  main .main--content__image .main--content__image--bottomText {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  main .main--content__image .main--content__image--topText,
  main .main--content__image .main--content__image--bottomText {
    font-size: 2.5em;
  }
}
main .main--content__image .main--content__image--topText {
  top: -0.5em;
}
main .main--content__image .main--content__image--bottomText {
  bottom: 1em;
}
main .new--features {
  display: flex;
  flex-direction: column;
}
main .new--features .new--features__selectFont select {
  width: 100%;
  border: 3px solid black;
  margin-top: 1em;
}/*# sourceMappingURL=style.css.map */